<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryobamboo.twitterclient" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2578cc5e04e7497975623c42b2e738218e3e2d63" />
        <meta-data
           android:name="io.fabric.ApiKey"
            android:value="2578cc5e04e7497975623c42b2e738218e3e2d63" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
